.daterangepicker{
    z-index: 99999;
}

/*예약 데이터 수정*/
.re{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(105, 105, 105, 0.2);
    border: solid 1px #e0e0e0;

    &_header{
        height: 70px;
        background-color: #f7f9fb;
        padding: 25px 20px 25px 30px;
        overflow: hidden;
        border-bottom: solid 1px #e0e0e0;

        &_title{
            margin-left: 10px;
            float: left;
            font-size: 20px;
            line-height: 20px;
        }
        &_close{
            float: right;
        }
    }

    &_content{
        padding:20px 30px 40px 30px;
        background-color: white;
        overflow-y: scroll;
        height: calc(90vh - 150px);
        max-height: 650px;
    }

    &_content::-webkit-scrollbar-track{
    	border-radius: 10px;
    }

    &_content::-webkit-scrollbar{
    	width: 6px;
    }

    &_content::-webkit-scrollbar-thumb{
    	border-radius: 10px;
    	background-color: #e0e0e0;
    }

    &_footer{
        overflow: hidden;
        height: 80px;
        border-top: solid 1px #e0e0e0;
        width: 100%;

        &_save{
            margin-top: 15px;
            margin-right: 30px;
            float: right;
            width: 120px;
            height: 50px;
            border-radius: 5px;
            background-color: #0084ff;
            border: solid 1px #0079e9;
            box-sizing: border-box;
            padding: 14px 19px 14px 19px;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: white;
            cursor: pointer;

            &:hover{
                filter:brightness(1.1);
            }
            &:active{
                filter:brightness(1.2);
            }
        }
    }
}


.rec{
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #e0e0e0;
    padding:30px 30px 10px 30px;
    overflow: hidden;

    &_ti{
        margin-right: 20px;
        float: left;

        &>p{
            font-size: 13px;
            font-weight: bold;
            line-height: 40px;
            text-align: left;
            color: $hint_grey;
            margin-bottom: 20px;
        }

        &_people{
            display: inline-block;
            margin-top: -10px;
            height: 195px;
        }
    }

    &_co{
        float: left;
        width: 242px;

        &>p{
            font-size: 14px;
            font-weight: bold;
            margin:9px 0 20px 0;
            text-align: left;
            max-width: 220px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &_box{
            display: inline-block;
            height: 207px;

            &_mini{
                margin-top: 15px;
                overflow: hidden;

                &>*{float: left;}
                &>input{margin-bottom: 0 !important;}

                &_txt{
                    width: 40px;
                    margin-right: 20px;
                    line-height: 40px;
                    font-size: 13px;
                    font-weight: bold;
                    color: #7c8495;
                }
            }
        }

        & .rv_info_pickupTime{
            width:110px;
        }

        & .input{
            padding: 9px 8px 9px 12px;
            margin-bottom: 20px;
            line-height: 20px;
            font-size: 14px;
            overflow: hidden;

            &>*{float: left;}

            &_disabled{
                background-color: #f8f8f8;
                color: #7c8495;
            }
        }

        &_option{
            height: 240px;
            overflow-x: hidden;
            overflow-y: auto;

            &::-webkit-scrollbar-track{
            	border-radius: 10px;
            }

            &::-webkit-scrollbar{
            	width: 3px;
            }

            &::-webkit-scrollbar-thumb{
            	border-radius: 10px;
            	background-color: #e0e0e0;
            }

            &_box{
                height: 40px;
                width: 240px;
                overflow: hidden;
                margin-bottom: 8px;
            }

            &_name{
                float: left;
                width: 177px;
                height: 40px;
                box-sizing: border-box;
                line-height: 40px;
                font-size: 13px;
                margin-right: 12px;
                border-radius: 5px;
                padding-left: 8px;
            }
            &_people{
                float: left;
                width: 50px;
                border: 1px solid #e0e0e0;
                height: 40px;
                box-sizing: border-box;
                font-size: 13px;
                text-align: right;
                padding-right: 12px;
                border-radius: 5px;
            }
        }

        &_midinput{
            width: 130px;
            & input{width: 82px;}
        }

        &_shortinput{
            width: 50px !important;
            text-align: right;
            padding-right: 12px !important;
            padding-left: 0 !important;
            & input{width: 28px;}
        }

        &_longinput{
            width: 240px;
            & input{width: 188px;}
        }
        &_full{
            width:240px;
            & input{width: 220px;}
        }
    }


    &_verticalLine{
        float: left;
        width: 1px;
        margin:10px 30px 10px 30px;
        height: 550px;
        background-color: #e0e0e0;
    }

    &_memo{
        line-height: 20px;
        height: 20px;
        font-size: 16px;
        font-weight: bold;
        margin-top: 40px;

        &_txt{
            margin-top: 15px;
            width: 822px !important;
            resize: none;
            font-size: 14px;
            line-height:24px;
            height: 72px;
            padding:12px 16px 12px 16px;
            margin-left: 0 !important;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
        }
    }

    &_cash{
        line-height: 20px;
        height: 20px;
        font-size: 16px;
        font-weight: bold;
        margin-top: 40px;

        &_box{
            margin-top: 16px;
            overflow: hidden;
            &>*{float: left;}

            & input{
                width:120px;
                margin-right: 8px;
                margin-left: 20px;
            }

            &>p{
                line-height: 40px;
                font-size: 13px;
                height: 40px;
                margin-right: 78px;

                &.greyTxt{
                    margin-right: 0;
                }
            }
        }
    }

}
