.r{
    width:1280px;
    padding-bottom: 80px;
    margin:0 auto;
    padding-top: 30px;
}
#drop_r_filter_product{
    left: 380px !important;
}


/*날짜 세팅*/
.r_set{
    overflow: hidden;
    height: 40px;

    &_date{
        float: left;

        &_txt{
            float: left;
            margin : 0 12px 0 4px;
        }
    }

    &_trash{
        float: right;

        &_no{
            margin-left: 16px;
            font-weight: bold;
        }
    }

    &_print{
        float: right;
        margin-right: 10px;
    }

    &_chartToggle{
        float: right;
        margin-left: 10px;
    }
}

/*헤더 - 윗부분(갯수, 필터해제, Excel)*/
.r_htop{
    height:40px;
    width: 100%;
    overflow: hidden;
    margin-top: 30px;

    &_numbList{
        float: left;
        margin-top: 20px;
        line-height: 20px;
    }

    &_gmail{
        float: right;
    }

    &_filterShow{
        float: right;
        margin-right: 16px;
    }
    &_filterRemove{
        float: right;
        margin-right: 8px;
    }
    &_filterSet{
        float: right;
        margin-right: 8px;
    }
}

/*헤더 - 아랫부분(예약정보 분류명)*/
.r_hbot{
    height:42px;
    box-sizing: border-box;
    border-top:solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
    width: 1280px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    letter-spacing: -0.3px;

    &>p{
        margin-right: 14px;
        line-height: 20px;
        text-align: center;
        float: left;
        font-size: 14px;
    }

    &>div{
        float: left;
        margin-right: 14px;
        overflow: hidden;

        &>img{
            float: left;
            width: 20px;
        }

        &>p{
            line-height: 20px;
            float: left;
            margin-right: 2px;
            font-size: 14px;
        }
    }
    &_memo{
        margin-left: 60px;
        width: 220px;
    }
    &_date{
        width: 100px;
    }
    &_product{
        width: 110px;

        &>p{
            margin-left: 17px;
        }
    }

    &_pickup{
        width:120px;
        margin-right: 15px !important;
    }
    &_people{
        width: 65px;
    }

    &_option{
        width:90px;
        &>p{
            margin-left: 10px;
        }
    }

    &_name{
        width: 170px;
    }

    &_nationality{
        width: 110px;
    }
    &_agency{
        width:100px;
        &>p{
            margin-left: 12px;
        }
    }
}

/*예약 데이터 리스팅*/
.rv_content{
    width: 1280px;
    height: 48px;
    border-radius: 5px;
    border: solid 1px #e0e0e0;
    margin-top: 8px;
    box-sizing: border-box;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;

    &>*{
        float: left;
    }

    &>p{
        line-height: 20px;
        font-size: 14px;
        text-align: center;
        margin-right: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &_memo{
        margin-left: 20px;
        width: 220px;
    }

    &_date{
        width: 100px;
    }
    &_product{
        width: 110px;
    }
    &_pickup{
        width: 120px;
    }
    &_people{
        width: 65px;
    }
    &_option{
        width: 90px;
    }
    &_name{
        width: 170px;
    }
    &_nationality{
        width: 110px;
    }
    &_agency{
        width: 100px;
    }
}

.drp_quick{
    float: left;
    overflow: hidden;
    padding:0;
    margin-left: 10px;
    cursor: pointer;

    &>p{
        float: left;
        padding:9px 15px 9px 15px;
        border-right: solid 1px #e0e0e0;
    }

    &--selected{
        background-color: $key_blue;
        color: white;
    }
}
.rv_box{
    padding-bottom: 60px;
}

.r_stat{
    height: 400px;
    width: 100%;
    margin-top: 30px;
    overflow: hidden;
}

/*차트*/
.chartsquare{
    width: 400px;
    height: 400px;
    float: left;
    margin-right: 40px;

    &:last-child{
        margin-right:0;
    }
}
#chart_product,#chart_agency,#chart_nationality{
    width: 400px;
    height: 400px;
    float: left;
}
.ct-series-a .ct-slice-pie{
    fill:#56AEE2 !important;
}
.ct-series-b .ct-slice-pie{
    fill:#56E2CF !important;
}
.ct-series-c .ct-slice-pie{
    fill:#56E289 !important;
}
.ct-series-d .ct-slice-pie{
    fill:#E2CF56 !important;
}
.ct-series-e .ct-slice-pie{
    fill:#E28956 !important;
}
.ct-series-f .ct-slice-pie{
    fill:#E25668 !important;
}
.ct-series-g .ct-slice-pie{
    fill:#E256AE !important;
}
