.dw_dropdown,.dw_dndropdown{
    background-position: right;
    background-image: url("./assets/icon-filter.svg");
    background-repeat: no-repeat;
    background-origin: content-box;
    cursor: pointer;
    font-size: 14px;
}

.dropbox{
    position: absolute;
    line-height: 40px;
    background-color: white;
    box-sizing: border-box;
    z-index: 999;
    padding: 8px 0;
    border:solid 1px #e0e0e0;
    border-radius:5px;
}
.drop_item{
    cursor: pointer;
    padding: 0px 24px 3px 26px;
    font-size: 14px;
    float: none !important;
    border-left: 6px solid white;
    border-top: 3px solid white;
}
.drop_item--selected{
    background-image:url("./assets/icon-input-check.svg");
    background-repeat: no-repeat;
    background-origin:padding-box;
}

.dw_multiselected{

}
.drop_item:hover{
    background-color: rgba(224, 224, 224, 0.2);
}
.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}
.clearfix:after { clear: both; }
.display_none{
    display: none;
}

.dw_radio{
    float: left;
    overflow: hidden;
    cursor: pointer;
    background-image: url("./assets/icon-radio-default.svg");
    background-repeat: no-repeat;
    padding-left: 24px;
    margin-right: 24px;
    font-size: 13px;
    color: #555555;
    height: 16px;
    line-height: 16px;

    &>radio{
        float: left;
        display: block;
        width: 16px;
        height: 16px;
        margin-right: 8px;
    }
    &>p{
        float: left;
    }
}
.dw_radio_selected{
    background-image: url("./assets/icon-radio-check.svg") !important;
}
