.account_wrapper{
    width:1280px;
    padding-bottom: 80px;
    margin:0 auto;
    padding-top: 30px;
}

.a_set{
    overflow: hidden;
    height: 40px;

    &_date{
        float: left;
        cursor: pointer;
        &:hover{
            background-color: rgba(105, 105, 105, 0.025);
        }

        &_txt{
            float: left;
            margin-right: 4px;
            padding-right: 30px;
            background-image: url("./assets/icon-filter.svg");
            background-repeat: no-repeat;
            background-position: right;
        }
    }

    &_exchange{
        float: right;
        margin-right: 20px;
    }

    &_print{
        float: right;
        margin-right: 10px;
    }
}

.a_htop{
    height:40px;
    width: 100%;
    overflow: hidden;
    margin-top: 30px;

    &_numbList{
        float: left;
        margin-top: 20px;
        line-height: 20px;
    }

    &_gmail{
        float: right;
        margin-right: 8px;
    }

    &_add{
        float: right;
    }
    &_filterRemove{
        float: right;
        margin-right: 8px;
    }
}
.daterangepicker{
    display: none;
}
.input-mini{
    text-align: center;
}

/*헤더 - 아랫부분(예약정보 분류명)*/
.a_hbot{
    height:42px;
    box-sizing: border-box;
    border-top:solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
    width: 1280px;
    margin-top: 10px;
    padding:4px 0;
    overflow: hidden;
    letter-spacing: -0.3px;

    & .drop_item{
        padding-left: 30px !important;
        &--selected{
            background-position: left 4px top 5px;
        }
    }

    &>p{
        margin-right: 14px;
        line-height: 32px;
        text-align: center;
        float: left;
        font-size: 14px;
    }

    &>div{
        float: left;
        line-height: 32px;
        margin-right: 14px;
        overflow: hidden;

        &>img{
            float: left;
            width: 20px;
        }
    }

    &_date{
        width: 85px;
    }

    &_category{
        width: 110px;
        text-align: center;
    }

    &_writer{
        width: 105px;
        padding: 0 25px;
        text-align: center;
    }

    &_contents{
        width: 380px;
    }

    &_card{
        margin-top: -2px;
        width:240px;
        &>p{
            height: 17px;
            line-height: 16px;
            width: 240px;
            text-align: center;
            font-size: 14px;
            text-align: center;
            color: #262e3e;
            border-bottom: solid 1px #e0e0e0;
        }
        &>div{
            overflow: hidden;
            height: 18px;
            &>p{
                float: left;
                line-height: 19px;
                width: 120px;
                text-align: center;
                font-size: 14px;
                color: #262e3e;
            }
        }
    }
    &_cash{
        margin: -2px 0 !important;
        width:240px;
        &>p{
            height: 17px;
            line-height: 16px;
            width: 240px;
            text-align: center;
            font-size: 14px;
            text-align: center;
            color: #262e3e;
            border-bottom: solid 1px #e0e0e0;
        }
        &>div{
            overflow: hidden;
            height: 18px;
            &>p{
                float: left;
                line-height: 19px;
                width: 120px;
                text-align: center;
                font-size: 14px;
                color: #262e3e;
            }
        }
    }
}
#drop_a_filter_writer{
    left:250px !important;
    border-top: 1px solid #e0e0e0;
}
.a_item{
    width: 1280px;
    box-sizing: border-box;
    height: 40px;
    border: solid 1px #e0e0e0;
    margin-top: 8px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
        background-color: rgba(0, 132, 255, 0.1);
        border: solid 1px #0084ff;
    }
    &:active{
        background-color: rgba(0, 132, 255, 0.2);
        border: solid 1px #0084ff;
    }
    &>p{
        height: 38px;
        float: left;
        margin-right: 14px;
        line-height: 38px;
        font-size: 14px;
        text-align: center;
    }

    &_date{
        width: 85px;
        font-size: 13px !important;
    }

    &_category{
        width: 110px;
        text-align: center;
    }

    &_writer{
        width: 155px;
        text-align: center;
    }

    &_contents{
        width: 380px;
        font-size: 13px !important;
        text-align: left !important;
    }
    &_cardIncome{
        width:110px;
    }
    &_cardExpenditure{
        width:110px;
        margin-right: 22px !important;
    }
    &_cashIncome{
        width:110px;
    }
    &_cashExpenditure{
        width:110px;
        margin-right: 0 !important;
    }

    &--income{
        color: #0084ff;
        font-weight: bold;
        text-align: right;
    }
    &--exp{
        font-weight: bold;
        text-align: right;
        color: #f54b5e;
    }
}

.a_edit{
    width: 400px;
    height: 80%;
    max-height: 910px;
    background-color: white;
    overflow: hidden;
    border-radius: 4px;
    position: relative;

    &_header{
        width: 100%;
        height: 70px;
        background-color: #f7f9fb;
        border-bottom: solid 1px #e0e0e0;
        overflow: hidden;

        &_title{
            float: left;
            line-height: 70px;
            font-size: 20px;
            margin-left: 30px;
        }

        &_close{
            float: right;
            margin:25px 20px;
            cursor: pointer;
        }
    }

    &_wrapper{
        height: calc(100% - 152px);
        overflow-x: hidden;
        overflow-y: auto;
        box-sizing: border-box;
        padding: 10px 30px 15px 30px;

        &::-webkit-scrollbar-track{
            background-color: #ffffff;
        }

        &::-webkit-scrollbar{
            width: 3px;
            background-color: #e0e0e0;

        }

        &::-webkit-scrollbar-thumb{
            background-color: #e0e0e0;
        }
    }

    &_line{
        margin:10px 0;
        display: inline-block;
        width: 100%;
        height: 40px;
        box-sizing: border-box;
        overflow: hidden;

        &--contents{
            height: 120px;
        }
    }

    &_line2{
        margin:10px 0;
        width: 100%;
        height: 40px;
        box-sizing: border-box;
    }

    &_title{
        margin-top: 20px;
        padding-top: 30px;
        border-top: solid 1px #e0e0e0;
        font-size: 16px;
        margin-bottom: 16px;
        width: 335px;
    }

    &_sTitle{
        float: left;
        line-height: 38px;
        font-size: 13px;
        font-weight: bold;
        color: #7c8495;
        width: 119px;
    }

    &_won{
        font-size: 13px;
        line-height: 38px;
        margin-left: 8px;
        float: left;
    }

    &_footer{
        width: 100%;
        height: 80px;
        position: absolute;
        border-top: solid 1px #e0e0e0;
        bottom: 0;
        overflow: hidden;

        &_save{
            width: 120px;
            height: 50px;
            border-radius: 5px;
            background-color: #0084ff;
            border: solid 1px #0079e9;
            float: right;
            margin: 15px 24px 0 0;
            margin-left: 0;
            font-size: 14px;
            line-height: 50px;
            text-align: center;
            color: white;
            cursor: pointer;
            box-sizing: border-box;

            &:hover{
                filter: brightness(1.1);
            }
            &:active{
                filter: brightness(1.2);
            }
        }

        &_delete{
            width: 120px;
            height: 50px;
            float: right;
            margin:15px 16px;
            padding-top: 14px;
            color: #f54b5e;

            &:hover{
                background-color:#fafafa;
            }
            &:active{
                background-color:#f0f0f0;
            }
        }
    }

    &_input{
        width: 128px;
        float: left;
        box-sizing: border-box;
        height: 40px;
        border-radius: 5px;
        border: solid 1px #e0e0e0;
        line-height: 38px;
        padding-left: 12px;
        font-size: 14px;

        &--money{
            text-align: right;
            padding-right: 12px;
        }

        &_date{
            float: left;
            background-image: url("./assets/icon-filter.svg");
            background-repeat: no-repeat;
            background-position: right 8px top 10px;
            cursor: pointer;
        }

        &_category{
            width: 215px;
            background-position: right 8px top 10px !important;
        }
        &_writer{
            width: 215px;
        }
        &_contents{
            width: 215px;
            height: 120px;
            line-height: 20px;
            padding: 12px;
        }
    }
}
