.toggleGuide{
    float: right;
    background-color: white;
    margin-right: 10px;
}
.g_wrapper_asset{
    width: 1312px;
    padding-bottom: 200px;
    min-height: 500px;
    margin-left:calc(50% - 640px);
    margin-top: 20px;;
    overflow: hidden;
    background-color: white;
}

.ga{
    &_div{
        overflow: hidden;
        margin:20px 0 0 20px;
        height: 40px;
        width: 1200px;
        box-sizing: border-box;
        border: 1px solid #e0e0e0;
    }
    &_name{
        float: left;
    }
    &_asset{
        float: left;
    }
}
